<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pookie Blogs</title>
    <link rel="stylesheet" href="/styles/stylesHeFo.css" />
    <link rel="stylesheet" href="/styles/indexStyles.css" />
    <link rel="stylesheet" href="/styles/blogsStyles.css" />
    <link rel="stylesheet" href="/styles/aboutStyles.css" />
    <link rel="stylesheet" href="/styles/createStyles.css" />
    <link rel="stylesheet" href="/styles/responsive.css">
    <link
      rel="shortcut icon"
      href="/favicon/favicon-32x32.png"
      type="image/x-icon"
    />
  </head>
  <body>
    <div class="wrapper">
      <header>
        <nav class="navbar container">
          <div class="logo">
            <a href="/v1/">
              <img src="/images/pookie-logo-rm.png" alt="Pookie Blogs Logo" />
            </a>
          </div>
          <ul>
            <li><a href="/v1/home">Home</a></li>
            <li><a href="/v1/blogs">Blogs</a></li>
            <li><a href="/v1/create-post">Write a Post</a></li>
            <li><a href="/v1/about">About me</a></li>
            <li><a href="/v1/login">Logout</a></li>
          </ul>
          <div class="menu-bar">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
              />
            </svg>
          </div>
        </nav>
      </header>
      <main>
