<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pookie Blogs</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="shortcut icon" href="/favicon/favicon-32x32.png" type="image/x-icon">
</head>
<body>
    <header>
        <nav class="navbar container">
          <div class="logo">
            <a href="/v1/">
                <img src="/images/pookie-logo-rm.png" alt="Pookie Blogs Logo">
            </a>
          </div>
        </nav>
      </header>
      <main>