<%- include("partials/header.ejs") %>
<!-- body code continue -->
<h1>About Us</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam et mi vel ipsum ultricies lobortis. Donec ultricies, velit et gravida consectetur, sem est semper lectus, ut feugiat velit ligula at velit. Duis ac turpis et mi fermentum gravida.</p>
<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec facilisis, arcu id placerat eleifend, enim metus malesuada velit, at consectetur velit velit vel est. Sed vel nunc at velit tristique bibendum.</p>
<p>Morbi vel est ut ex consectetur posuere. Nulla facilisi. Donec facilisis, erat id bibendum consectetur, metus sapien iaculis risus, at efficitur neque purus vel mi. In hac habitasse platea

<!-- body code end -->
<%- include("partials/footer.ejs") %>