<%- include("partials/header.ejs") %>
<!-- body code continue -->
 <section class="write-post container">
  <h1 class="recent-blogs-heading">Write a Blogs</h1>
  <hr class="styled-divider">
  <form action="/v1/submit" method="POST" class="blogw-form">
    <input type="text" name="title" placeholder="Title" class="input-field" required />
    <input type="text" name="tags" placeholder="Tags" class="input-field" required />
    <textarea name="content" placeholder="Write something..." class="textarea-field" required></textarea>
    <input type="submit" value="Submit" class="submit-btn" />
  </form>
</section>
<!-- body code end -->
<%- include("partials/footer.ejs") %>
