<%- include("partials/loginHeader.ejs") %>
<!-- body code continue -->
  <section class="login-page">
  <div class="logo">
    <a href="/v1/login">
      <img src="/images/pookie-logo-rm.png" alt="Pookie Blogs Logo" />
    </a>
  </div>
  <div class="login-welcome">
    <h1>Welcome Back to your Blog Site!</h1>
  </div>
  <div class="login-form-box">
    <form action="/v1/loginSubmit" method="POST" class="login-form">
      <label for="loginEmail">Enter Your Email:</label>
      <input type="email" name="loginEmail" class="input-field" placeholder="Email..." required/>
      <input type="submit" value="Login" class="submit-btn" />
    </form>
  </div>
</section>
</main>
</body>
</html>